@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.top{
	height : 110px;
	margin-bottom:0px;
	margin-top : 20px;
	display:flex;
	width:100vw;
}
.top-left{
	flex :1;
	width : 33%;	
	padding-left: 5% ;
}
.top-left img{
	width:240px;
	height:80px;
}
/*검색창*/
.search-box form{
width:410px;
	height:40px;
}
.search-box {
  background-color: #CCCCCC;
  height: 40px;
  padding: 10px;
   border-radius: 40px;
}	

.search-btn {
  color: #EDEDED;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #949BA0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-txt {
  float: left;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  line-height: 40px;
  width:350px;
}

.search-box:hover > form .search-btn {
  background: #464E54;
}

.top-right{
	flex :1;
	width:33%;
	height : 80px;
  display: flex;
  align-items: center;
	justify-content : center;
	padding-left:8%;
}

.top-right ul{
	list-style:none;
	font-family: 'Noto Sans KR', sans-serif;
}
.top-right li{
	display:inline;
	margin-right : 15px;
}
.top-right li a{
	text-decoration: none;
    color: inherit;
}
/*카테고리*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#FFDAB9;
    text-align:center;
}
.menu ul:after{
    content:'';
    display: block;
    clear:both;
}
.menu li {
    
    display:inline-block;
}
.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: #CD853F;
}



 